@model IEnumerable<MAutoSS.Web.Models.Dealership.DealershipMainInfoModel>

@Html.Partial("DealershipOptionsPartial")

@if (Model.Count() > 0)
{
    <div class="container-fluid dealerships-container">
        <div class="row">
            <h3>Dealerships info</h3>
        </div>
        @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(d => d.Name).Title("Dealership Name").Width(190);
        columns.Bound(d => d.NumberOfEmployees).Title("Number of employees").Width(190);
        columns.Bound(d => d.NumberOfCars).Title("Number of cars").Width(190);
        columns.Bound(d => d.Address.AddressText).Title("Address").Width(190);
        columns.Bound(d => d.Address.City.Name).Title("City").Width(190);
        columns.Bound(d => d.Address.City.Country.Name).Title("Country").Width(190);

    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
        )
    </div>
}
else
{
    <h2>There are no records for dealerships.</h2>
}

