body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-align: center;
}

.jumbotron {
    background-image: url("./imgs/welcome-image.jpg");
    background-size: 125% 350%;
    background-position: center;
    height: auto;
    width: 100%;
}

.jumbotron > div {
    position: relative;
    width: 50%;
    top: -103px;
    left: -5%;
}