<div class="container-fluid dealerships-container">
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block">Load all dealerships info</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block">Create new dealership</button>
        </div>
    </div>
</div>


@*onclick="location.href='@Url.Action()*@